/* Gallery Section Styling */
.gallery {
    background-color: white;
}

.gallery-item {
    position: relative;
    width: 100%;
    height: 100%;
   
    overflow: hidden;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
    transition: transform 0.3s ease-in-out; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    background-size: contain;
    display: block;
    transition: transform 0.3s ease-in-out;/
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); 
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px; /* Match border radius with images */
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.gallery-item:hover {
    transform: scale(1.07); 
}

.gallery-item img:hover {
    transform: scale(2); 
}

.gallery-item .overlay h4 {
    margin: 0;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out; /* Smooth text animation */
}

/* Responsive adjustments for larger images */
@media (min-width: 768px) {
    .gallery-item {
        border-radius: 12px;
    }
}

